/* main body css */

body {
    font-family: 'Nunito', sans-serif;
}

.clr-white {
    color: var(--white);
}

.clr-dark1 {
    background: linear-gradient(89.83deg, #F2994A -6.21%, #ED6E2D 113.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.clr-dark2 {
    color: var(--textcolor);
}

.clr-dark3 {
    color: var(--textcolororengebg);
}


/* spacing */

.gap1 {
    gap: 30px;
}


/* spacing end  */


/*  font size  */

.h1mainhead {
    font-size: 64px;
    font-weight: 800;
    line-height: 119.4%;
}

.spansubhead {
    font-weight: 300 !important;
    font-size: 24px;
    line-height: 33px;
}

.headingrand {
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
}

.headingwellnormal {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}


/*  font size  end */


/* background colgroup */

.bg-dark1 {
    background-color: var(--bluedark);
}

.bg-dark2 {
    background: var(--orengedark);
}


/* background colgroup End*/


/* btn css  */

.buttn-main {
    display: flex;
    max-width: 450px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}


/* btn css End */


/* main body css End*/


/* nav style start */

.paw-on-active {
    max-width: 20px;
    visibility: hidden;
}

.navbar {
    min-height: 100px;
    margin-bottom: -100px;
}

.navbar-nav .nav-item .active div div {
    visibility: visible;
}


/* nav style start */


/* section 1 home */

.secdiv1 {
    background-image: url(/img/sec1bg.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    /* padding: 225px 10px; */
    min-height: 100vh;
    align-items: center;
    display: flex;
}


/* section 1 home end */


/* section 2 home start  */

.secdiv2 {
    background-image: url(/img/sec2basket.webp);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    padding: 220px 10px;
}


/* .divc {
    max-width: 300px;
} */

.divc img {
    top: -100px;
    right: 0;
    max-width: 500px;
}


/* section 2 home End  */


/* section 3home start  */

.secdiv3 {
    background-color: #FFE8CD;
    padding: 100px 10px;
}

.divc2 img {
    top: 0px;
    left: 0;
    max-width: 500px;
}


/* section 3home end  */


/* section 4 home start  */

.divc3 img {
    top: 60px;
    left: 0;
    max-width: 500px;
}


/* section 4 home end  */


/* section 5 home  */

.secdiv5 {
    background-image: url(/img/se5bg.webp);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    padding: 220px 10px;
}


/* section 5 home end */


/* section 6 home start  */

.presssecsty {
    margin: 100px 10px;
}


/* section 6 home end  */


/* section7 home start */

.heart-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.headstarth {
    margin-bottom: 50px;
}


/* section7 home end */


/* section 8 home faq start  */

.faq-style {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
    margin: 20px 0;
}

.question {
    padding: 30px 80px 30px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question::after {
    position: absolute;
    right: 20px;
    transition: 0.2s;
    background-image: url('/img/pawfaq.webp');
    background-repeat: repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    content: "";
}

.question.active::after {
    transform: rotate(180deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}


/* section 8 home faq end  */


/* footer section start  */

.footersection {
    background: linear-gradient(180deg, #EB7C3A 0%, #DF622B 100%);
    border-radius: 32px 32px 0px 0px;
    padding: 50px 10px;
    margin-top: 100px;
}

.foot-logo {
    max-width: 200px;
    margin: auto;
}

.footer-nav div {
    gap: 30px;
}

.coptright {
    font-weight: 200 !important;
}

.bottomnav2 {
    gap: 20px;
}

.backtop {
    text-decoration: none;
}

.backtop:hover {
    color: var(--bluedark);
}


/* footer section end  */


/* Alishba */

.sectionPadding {
    padding: 50px 70px;
}

.bgWhite {
    background-color: white;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* SinglePet */

.pet-selectionBox {
    border: 1px solid var(--formbg) !important;
    border-radius: 2px;
    transition: .3s;
    cursor: pointer;
}

.pet-selectionBox:hover {
    border: 1px solid orange;
}

.pet-title {
    font-size: 20px !important;
    font-weight: bold;
}

.pet-subtitle {
    font-size: 16px !important;
}

.start-btn {
    border: none;
    min-height: 60px;
}


/* ======FORM======= */

.form-lables {
    font-size: 16px;
    font-weight: 600;
    color: var(--formslabelsclr)
}

#selection-inp {
    border: none;
    background-color: var(--white);
    border-radius: 6px;
    padding: 20px 14px;
    border: 1px solid var(--white);
    transition: .3s;
}
#selection-inp:hover{
    border: 1px solid orange;
}

#selection-inp::placeholder,
.typeText {
    color: var( --inptextclr);
}

#selection-inp::placeholder {
    font-size: 15px;
}

#selection-inp,
#select-options:focus {
    outline: none;
}

.pets {
    background-color: var(--white);
    padding: 30px 30px 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.pets img {
    width: 100%;
}

.pet2 {
    margin-left: 60px;
}

.pet-title {
    font-size: 16px !important;
    padding-top: 14px;
}

#select-options {
    border: none;
    background-color: var(--white);
    border-radius: 6px;
    padding: 14px 20px;
    color: var( --inptextclr);
}

.checkbox {
    width: 18px;
    color: red;
}

.allergic-selection {
    border: none;
    background-color: var(--white);
    border-radius: 6px;
    padding: 10px 14px;
    width: 200px;
}

.addPet-btn {
    border: none;
    width: 200px;
    min-height: 60px;
}

.petSelectionForm {
    display: none;
}

.activeForm {
    display: block;
}


/* Single-ProductPage */

.wrapper {
    background-color: var(--formbg);
}

.bgWhite {
    background-color: var(--white);
}

.filled-bar {
    border-radius: 30px;
    padding: 8px 12px;
}

.conditions-list {
    background-color: rgb(196, 194, 194);
    border-radius: 30px;
    font-size: 12px;
}

.divider {
    border: 1px dashed grey;
}

.quantitySelection {
    padding: 10px !important;
}

.addToBox {
    min-height: 40px;
    font-size: 18px;
}
.amountProgressBar{
    width: 20%;
    max-width: 100%;
    height: 100%; 
    border-radius: 30px;
    background: var(--orengedark);
    position: absolute;
    top: 0;
}

.amountProgress{
    font-size: 14px;
    font-weight: 600;
}
.slide-progress2{
    width: 100%;
    /* max-width: 100%; */
    height: 38px !important;
    border-radius: 30px;
    background: var(--formbg);
    position: relative;
  }
  .amountProgressBar{
    width: 50%;
    max-width: 100%;
    height: 100%; 
    border-radius: 30px;
    background: var(--orengedark);
    position: absolute;
    top: 0;
}
.innerCircle{
    position: absolute;
    bottom: -7px;
    right: -2px;
    background: var(--white);
    border: 2px solid white;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    padding: 2px;
    box-shadow: rgb(149 157 165 / 44%) 0px 8px 24px;;
}
.amountCircle{
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    color: orange;
    font-weight: 600;
}
.lineBars{
    position: absolute;
    width: 100%;
}
.line{
    height: 4vh;
    width: 2px;
    background-color: grey;
    z-index: 50;
}
.lineBars2{
    position: absolute;
    width: 100%;
    top: -19px;
}

.line2{
    height: 2vh;
    width: 2px;
    background-color: grey;
    z-index: 50;
}
.progressInfo-text{
    /* position: absolute; */
    width: 100%;
    margin-top: -20px;
}
/* .slide-progress2:hover .line{
    background-color: white;
} */
.progressText{
    font-size: 14px;
    font-weight: 600;
}

.lin{
    position: relative;
}
.toolTip{
    position: absolute;
    top: -50px;
    right: -10px;
    width: 160px;
    height: 0px;
    background-color: white;
    border-radius: 4px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 95% 75%, 94% 100%, 88% 76%, 0% 75%);
    transition: .3s;
}
.toolTip-text{
    font-size: 12px;
    padding: 6px;
}
.toolTip-iconImg:hover .toolTip{
    height: 60px;
    /* background-color: red; */
}
/* ============owl-carousel========== */

.home-demo .item {
    text-align: center;
    max-width: 230px;

}

.product-card {
    max-width: 230px;
    min-height: 440px;
    border: 1px solid var(--formbg);
    padding: 30px 30px 10px 30px;
    border-radius: 6px;
    transition: .5s;
}

.product-card:hover {
    border: 1px solid orange;
}

.Product {
    display: none;
}

.active {
    display: block;
}
.slide-progress{
    width: 100%;
    /* max-width: 100%; */
    height: 6px;
    border-radius: 30px;
    background: var(--formbg);
    position: relative;
  }

  .innerBar{
    width: 0;
    max-width: 100%;
    height: 100%; 
    border-radius: 30px;
    background: var(--orengedark);
    position: absolute;
    top: 0;
}

.slider{
    position: relative;
}

.owl-nav .owl-prev{
    position: absolute;
    top: 34%;
    left: -50px;
    color: var(--inptextclr) !important;
}
.owl-nav .owl-next{
    position: absolute;
    top: 34%;
    right: -20px;
    color: var(--inptextclr) !important;
}
.owl-nav span{
    font-size: 60px;
    width: 80px !important;
}
.owl-nav .owl-prev:hover{
    background: orange !important;
    height: 0;
    border-radius: 30px;
    color: orange !important;
}
.owl-nav .owl-next:hover{
    background: orange !important;
    height: 0;
    border-radius: 30px;
    color: orange !important;
}
.backArrow{
    color: orange;
    font-size: 24px;
    animation: backArrow 4s infinite;
    margin-left: 20px;
}

@keyframes backArrow {
    0%{
        margin-left: 10px;
    }

    50%{
        margin-left: 0px;
    }

    100%{
        margin-left: 20px;
    }
}

/* ================================ */


/* BoxBuilding */

.catoImg{
    max-width: 420px;
    padding: 90px 0;
}
.catoImg2{
    max-width: 300px;
    padding: 50px 0;
}
.summaryForm{
    padding: 50px 0px 50px 0px;
}


.giftBoxImg {
    padding: 60px 0;
}

/* ====================== */

.summaryForm input{
    border: 1px solid lightgrey !important;
}
.summaryForm input:hover{
    border: 1px solid orange !important;
}
.ancherClrOrng{
    color: orange;
}
.ancherClrOrng:hover{
    color: var(--bluedark);
}
.bgOrange{
    background-color: var(--bgLightOrange);
}

/* =================================== */

.loginTitle{
    font-size: 34px;
    font-weight: bold;
    color: var(--bluedark);
}
.loginInfo{
    font-size: 20px;
}

/* ===============CheckOutPage1========================= */
.headingBar{
    max-width: 400px;
}
.buyBoxes{
    max-width: 400px;
}
.boxTitle{
    font-weight: 600;
    font-size: 24px;
}
.boxSubhead{
    font-size: 20px;
}
.freeShippingAnchr{
    background-color: rgb(252, 241, 98);
    padding: 10px 30px;
    color: var( --textcolororengebg);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.freeShippingAnchr:hover{
    color: var(--bluedark);
}
.promoCodeBox{
    background-color: var(--white);
    max-width: 100%;
    padding: 14px 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
}
.promoCodeInp{
    padding: 10px 4px;
    border: none;
}
.promoCodeInp::placeholder{
    font-size: 20px;
}
.promoCodeInp:focus{
    outline: none;
}
.applyAncher{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.applyAncher:hover{
    color: var(--bluedark);
}
.subscriptionBox{
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: rgb(240, 238, 238);
}
.Subscription{
    border: 2px solid var(--white);
    border-radius: 6px;
    max-width: 500px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .3s;
}
.SubscriptionText{
    font-size: 16px;
}
.radioInp{
    border: 1px solid var(--inptextclr);
    border-radius: 30px;
    padding: 6px;
}
.radioBtns{
    border: 1px solid var(--inptextclr);
    width: 14px;
    min-height: 14px;
    border-radius: 30px;
    background-color: var(--inptextclr);
}
.radioBtn{
    display: none;
}
.Subscription:hover{
    border: 2px solid orange;
}
.Subscription:hover .radioInp{
    border: 1px solid orange;
}
.Subscription:hover .radioBtns{
    border: 1px solid orange;
    background: orange;
}
/* ==== */
.bgOrangeDark{
    background-image: var(--orengedark);
}
.boxTabTitle{
    font-size: 38px;
    font-weight: 800 ;
    color: rgb(255, 255, 255, .3);
    cursor: pointer;
    transition: .3s;
    position: relative;
}
.boxTabTitle::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 0%;
    height: 6px;
    background-color: white;
    transition: .5s;
    border-radius: 30px;
}
.boxTabTitle:hover{
    color: white;
}
.boxTabTitle:hover::after{
    width: 94%;
}
.tabText{
    font-size: 18px;
}
.contentbox{
    background-color: var(--white);
    border-radius: 6px;
}
.tabContntTitle{
    font-size: 18px;
    font-weight: bolder;
}
.tabContnttext{
    font-size: 16px;
    color: orange;
}
.arrowDown{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px 16px;
    border-radius: 30px;
}
.tabsContentBox{
    display: none;
}

.activeTab{
    display: block;
}
.subscriptionModel{
    display: none;
}
.activeModel{
    display: block;
}
.selectItems-List, .selectItems-List2{
    display: none;
    transition: .5s !important;
}
.headLine span{
    font-size: 18px;
    letter-spacing: 1px;
}
.headLine-drop span{
    font-size: 16px;
}
.headLine{
    background-color: var(--bgLightOrange);
    border-radius: 4px;
}
.headLine span{
    color: orange;
}
/* ===========ShippingFormPage=================== */
.logobar{
    min-height: 12vh;
    /* border: 1px solid; */
    box-shadow: 6px 10px 20px 2px rgba(116, 115, 115, 0.2);
}
.shipForm{
    padding: 0;
}
.shipmentWrapper{
    max-width: 1100px;
    margin: auto;
    padding: 30px 0;
}

.orderSummaryBox{
    background-color: var(--formbg);
    width: 500px !important;
    padding: 30px;
}
.orderTitle{
    font-size: 20px;
    font-weight: bold;
}
.weightTitle{
    font-weight: bold;
    font-size: 18px;
}
.pricing{
    font-size: 16px;
}
/* =============================================== */
.boxTypes{
    max-width: 600px;
    margin: auto;
    position: relative;
}
.boxTyp{
    border: 1px solid orange;
    padding: 10px 20px;
    width: 100%;
}
.box-1{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.box-2{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.boxTyp h2{
    font-weight: bolder;
    font-size: 30px;
}
.circle{
    position: absolute;
    top: 32px;
}
/* ============================================= */
/* ====SideBar========= */

.profileSectionPage{
    width: 100%;
    position: relative;
}
.sideBar{
    background-image: var(--orengedark);
    padding: 50px 40px;
    min-height: 100vh;
    width: 340px;
    position: fixed;
}
.navigation{
    list-style: none;
    padding: 70px 0;
}
.profileNavigationList li{
    padding: 14px 14px;
    position: relative;
    transition: .2s;
}
.profileNavigationList li::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: red;
    right: -2px;
    top: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0;
}
.profileNavigationList li:hover{
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.profileNavigationList li:hover::after{
    opacity: 1;
}
.profileNavigationList li:hover .sideBar-ancher{
    color: var(--bluedark);
    font-weight: bolder !important; 
}
.sideBar-ancher{
    color: var(--white);
    font-size: 22px;
    font-weight: bolder;
}


/* ================= */
.infoSection{
    width: 100%;
    margin-left: 340px;
}
.profileTopBar{
    padding: 20px 30px;
    min-height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.clrDark{
    color: var(--bluedark);
}
.profileSpan{
    font-size: 20px;
    font-weight: 400;
}
.profileName{
    font-size: 36px;
    font-weight: bolder;
}
.profileImg{
    max-width: 100px;
}
.allInformation-Box{
    padding: 60px 32px;
    overflow: scroll;
    height: 90vh;
}
.subTitles{
    font-weight: bolder;
    font-size: 26px;
}

.addressBtn{
    background-color: var(--bluedark);
    width: 240px;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 18px;
}
.addresBox{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 24px 20px;
}
.addressCategory{
    background-color: lightgrey;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 18px;
}
.upadteBtns{
    border: 1px solid var(--bluedark);
    width: 100px;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
}
.removeBtn{
    background-color: var(--bluedark);
}
.profileInfoBox{
    display: none;
}

.activeProfileBox{
    display: block;
}

.personalInfo{
    font-size: 20px;
}
.historyBar{
    background-color: var(--bgLightOrange);
    border-radius: 6px;
    color: orange;
    padding: 10px 10px;
    border: 1px solid rgb(255, 165, 0,.2);
}
.historyBar-title{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px ;
}
.historyList{
    padding: 4px 10px;
    border-radius: 6px;
    border: 1px solid rgb(211, 211, 211,.4);
    background-color: rgb(211, 211, 211,.2);
}
.historyDelt-btn{
    background-color: red;
    max-width: 80px;
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.deliveredItem{
    color: green;
    font-weight: 600;
    letter-spacing: 1px;
}
.pendingItem{
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ===================================== */
.modelPadding{
    padding: 30px;
}
.editProduct-Modal{
    max-width: 1300px;
    top: 20px;
    font-family: 'Nunito', sans-serif !important;
}
.modal-content{
    position: relative;
    border-radius: 4px !important;
    border: none;
}
.modal-header{
    position: absolute;
    z-index: 2;
    right: -20px;
    top: -20px;
    background-image: var(--orengedark);
    border-radius: 30px;
    width: 60px;
    height: 60px;
}
.closeModel{
    color: white !important;
    font-size: 25px;
}
.modal-body{
    padding: 0px;
    border-radius: 10px;
}
.editModel{
    background: #ECF0F1;
    position: relative;
    height: 100%;
}

.productBox{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.editProduct-Title{
    font-size: 32px;
    font-weight: 600;
}
.editImgBox{
    max-width: 100px;
}
/* ==/ */
.itemInfo span{
    font-size: 18px;
    line-height: 30px;
}
.productEdit-box{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    max-width: 100%;
}
.editBox{
    border: none;
    cursor: pointer;
}
.editBox h2{
    font-size: 22px;
    font-weight: 400;
}
.productSelection-Box{
    background-color: var(--bgLightOrange);
    border-radius: 6px;
}
.dividerLine{
    border: 1px solid lightgrey;
}
.product-subTitle{
    font-size: 16px;
    color: orange;
    font-weight: 600;
    letter-spacing: 1px;
}
.bottomBar{
    background: lightgrey;
    width: 100%;
    height: 1px;
}
.sizeBox{
    background: rgb(211, 211, 211,.2);
    border-radius: 6px;
}
.sizeSelection{
    overflow: scroll;
    height: 56vh;
}
.sizeSelection::-webkit-scrollbar {
    display: none;
}
.block2{
    display: none;
}
.activeModelBlock{
    display: block;
}
.img1{
    width: 60px;
}
.footerBtns{
    background-image: var(--orengedark);
    border-bottom-right-radius: 4px;
    color: white;
    margin-right: 10px;
}
.modelCloseBar{
    font-size: 20px;
}
.modelCloseBar:hover{
    color: white;
}
.editImgBox2{
    max-width: 60px;
}