@media (max-width: 1200px) and (min-width:769px) {
    .divc2 img {
        top: -85px;
        left: 0;
        max-width: 500px;
    }
    .divc3 img {
        display: none;
    }
}

@media (max-width: 992px) and (min-width:769px) {
    .secdiv4 {
        padding: 100px 10px;
    }
    .secdiv5 {
        background-image: none;
        padding: 136px 10px;
    }
    .presssecsty {
        margin: 0px 10px 100px 10px;
    }
    #navbarNav {
        position: absolute;
        top: 100px;
        background-image: var(--orengedark);
        width: 600px;
    }
}


/* ===========MediaQuery Alishba ============== */

@media screen and (min-width:320px) and (max-width:768px) {
    .product-card {
        min-height: 400px !important;
    }
}

@media screen and (min-width:413px) and (max-width:463px) {
    .pet2 {
        margin-left: 10px;
    }
}

@media screen and (min-width:320px) and (max-width:408px) {
    .pet2 {
        margin-left: 0px;
    }
}



@media screen and (min-width:768px) and (max-width:992px) {
    .sectionPadding{
        padding: 50px 50px;
    } 
    .product-card {
        min-height: 400px !important;
    }
    .giftBoxImg{
        margin-top: 150px;
    }
    .summaryForm{
        padding: 30px 0px 0px 0px;
    }
}



@media screen and (min-width:320px) and (max-width:768px) {
    
    .sectionPadding{
        padding: 50px 30px;
    }
    .catoImg{
        max-width: 800px !important;
        padding: 50px 0;
    }
    .giftBoxImg{
        margin-top: 0px;
    }
    .summaryForm{
        padding: 30px 0px 0px 0px;
    }
}

/* ============================================*/

/* CheckoutPage-1 */

@media screen and (min-width:992px) and (max-width:1600px) {
    .boxNav{
        overflow: scroll;
    }
    .boxTabTitle{
        font-size:22px;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    .boxNav{
        overflow: scroll;
    }
    .boxTabTitle{
        font-size:17px;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {

    .tabNav{
        max-width: 33%;
    }
    .boxTabTitle{
        font-size: 28px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    .tabContntMD{
        text-align: center;
    }
    .tabcontntCentrMd{
        display: flex;
        justify-content: center !important;
    }
}

@media screen and (min-width:320px) and (max-width:400px) {
    .promoCodeInp::placeholder{
        font-size: 16px;
    }
    .promoCodeInp{
        font-size: 12px;  
    }
}
/* ============================================ */

@media screen and (min-width:320px) and (max-width:480px) {
    .orderTitle{
        font-size: 16px;
    }
    .weightTitle{
        font-size: 16px;
    }
    .pricing{
        font-size: 14px;
    }
}
@media screen and (min-width:320px) and (max-width:767px) {
    .itemCol{
        width: 25% !important;
        /* border: 1px solid !important; */
    }
}

@media screen and (min-width:1200px) and (max-width:1360px) {
    .editProduct-Modal{
        max-width: 1300px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .editProduct-Modal{
        max-width: 720px !important;
    }
    .productBox{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .editProduct-Title{
        font-size: 30px;
    }
}
@media screen and (min-width:320px) and (max-width:768px) {
    .editProduct-Modal{
        max-width: 720px !important;
    }
    .sizeItem-col{
        width: 33%;
    }
}

/* ======SingleProductPage==== */
@media screen and (min-width:320px) and (max-width:768px) {
    .amountProgressCol{
        width: 33%;
    }
}

/* ============================================ */



/* =========Profile-Page======================== */
@media screen and (min-width:767px) and (max-width:992px) {
    .sideBar{
        width: 300px;
    }
    .infoSection{
        width: 100%;
        margin-left: 300px;
    }
    .profileSpan{
        font-size: 18px;
    }
    .profileName{
        font-size: 22px;
    }
}

@media screen and (min-width:320px) and (max-width:400px) {
    .profileSpan{
        font-size: 18px;
    }
    .profileName{
        font-size: 22px;
    }
}
@media screen and (min-width:320px) and (max-width:768px) {
    .profileSectionPage{
        display: flex;
        flex-direction: column;
    }
    .infoSection{
        margin-left: 0px !important;
        margin-top: 240px;
    }
    .sideCol{
        width: 100%;
    }
    .sideBar{
        padding: 20px;
        min-height: 10vh;
        width: 100%;
    }
    .navigation{
        padding: 00px;
    }
    .profileNavigationList{
        display: flex;
        justify-content: space-evenly;
        overflow: scroll;
        width: 100%;
    }
    .sideBar{
        width: 100%;
    }
    .sideBar-ancher{
        color: var(--white);
        font-size: 18px;
        font-weight: bolder;
    }
    .addresDetail{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        padding: 20px 0;
    }

}